/*  Default CSS  */

html, body {
  height: 100%;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0px solid;
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  overflow: hidden;
}

p {
  margin: 0 0 15px;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 15px;
  color: #fff;
  font-weight: 600;
}

h1 {
  font-size: 48px;
  line-height: 50px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  color:#f48221;
}

h3 {
  font-size: 20px;
  line-height: 24x;
  color:#f48221;
}

h4 {
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-size: 20px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

a:hover {
  color: #f48221;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0 none;
}

body {
  background: #fff none repeat scroll 0 0;
  color: #444;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #0091ac;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #3EC1D5;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #3cd6ed;
  color: #fff;
}

.clear {
  clear: both;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.title1 h2 {
  text-align: center;
  font-size: 25px;
  margin-top: 220px;
}

.title1-products h2 {
  text-align: left;
  margin-top: 18%;
}

input, select, textarea, input[type="text"], input[type="date"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"], button, button[type="submit"] {
  -moz-appearance: none;
  box-shadow: none !important;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url('../img/preloader.gif') no-repeat center center;
}

::-moz-selection {
  background: #3EC1D5;
  text-shadow: none;
}

::selection {
  background: #3EC1D5;
  text-shadow: none;
}

.area-padding {
  padding: 70px 0px 80px;
}

.area-padding-2 {
  padding: 70px 0px 50px;
}

.padding-2 {
  padding-bottom: 90px;
}

.section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
  text-transform: capitalize;
}

.section-headline h2::after {
  border: 1px solid #333;
  bottom: -20px;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40%;
}

.sec-head {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

/*****  Header top Area  *****/

.header-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.5);
  z-index: 10;
}

.navbar-header a.navbar-brand {
  display: inline-block;
  height: 80px;
  padding: 0px 0;
}
.navbar-header a.navbar-brand img{
  width: auto;
  height: 100%;
}

.main-menu ul.navbar-nav li {
  display: inline-block;
  padding: 0px 20px;
}

.main-menu ul.navbar-nav li a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #f48221;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
  font-size: 15px;
  padding: 5px 0px;
  margin:25px 0;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.main-menu ul.navbar-nav li.active > a::after {
  border: 1px solid #0091ac;
  bottom: 0px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.main-menu ul.navbar-nav li.active a:hover {
  background: none;
  color: #f48221;
}

.main-menu ul.navbar-nav li.active a:focus {
  color: #f48221;
}

.main-menu ul.navbar-nav li.active a {
  background: none;
  color: #f48221;
  position: relative;
}

.main-menu ul.navbar-nav li a:hover {
	color:#f48221;
	 border-bottom: 2px solid #0091ac;
}

.navbar {
  border: medium none;
  margin-bottom: 0;
}

.navbar-default {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.main-menu ul.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background: none;
  color: #333;
}

.navbar-default .navbar-toggle {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  padding: 25px 0px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: transparent;
  color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 30px;
  height: 2px;
}

.top-right.text-right {
  float: right;
  position: relative;
  top: 24px;
  margin-left: 20px;
}

.top-right.text-right>li {
  float: right;
  margin: 0px 8px;
}

.top-right.text-right li a {
  color: #fff;
}

.main-menu .dropdown ul {
  background: #000;
}

.main-menu .dropdown ul li {
  display: block;
}

/* Stick menu */

.header-area.stick {
  background-color: rgba(255, 255, 255, 1);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom:1px solid rgba(0,0,0,0.1);
}

.stick .navbar-header a.navbar-brand {
  display: inline-block;
  height: 70px;
  /*background: rgba(0,0,0,0.5);*/
  overflow: hidden;
  padding:0px 5px;
}

.stick .navbar-brand>img {
  display: none;
}

.stick .navbar-brand.sticky-logo>img {
  display: block;
}

.sticky-logo h1 {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.sticky-logo h1 span {
  color: #3ec1d5;
}
.stick .main-menu ul.navbar-nav li.active > a::after {
  border: 1px solid #0091ac;
  bottom: 0px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}

.stick .main-menu ul.nav>li>a:hover {
  color: #f48221;
}

.stick .main-menu ul.navbar-nav li.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #f48221;
  position: relative;
}

.stick .mainmenu ul#nav>li:hover>a, .stick .mainmenu ul#nav li .mega-menu, .stick .mainmenu ul#nav li ul.sub-menu {
  background-color: #f5f5f5;
  color: #fff;
  outline: medium none;
}

.stick .mainmenu ul#nav li:hover ul.sub-menu li a:hover, .mainmenu ul#nav li .mega-menu span>a:hover, .stick .mainmenu ul#nav li .mega-menu-shop a.mega-menu-title:hover {
  color: #fff;
}

.stick .logo {
  height: 20px;
}

.stick .logo a {
  margin-top: 0px;
}

.stick .main-menu ul.nav>li>a 
  line-height: 22px;
  padding: 24px 0px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.stick .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  width: 30px;
  height: 2px;
}

.stick .navbar-default .navbar-toggle {
  padding: 10px 0px;
}

/* Footer Area  */
.footer-area {
  font-family: 'Montserrat', sans-serif;
  padding: 40px 0 20px 0;
  background: rgba(52, 52, 60, 0.85);
  color: #fff;
}
footer a{
	color:#fff;
}
footer a:hover{
	color:#0091ac;
}
.footer-head h4 {
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: #fff;
}
.footer-area p{
	font-size:12px;
	color: #fff;
}
.footer-link ul li{
	width: 50%;
	float:left;
	color: #fff;
	padding:0 10px 20px 0;
	box-sizing:border-box;
}
.footer-link ul li a{
	font-size:12px;
	color: #fff;
}

.footer-link ul li a:hover, .footer-link ul li a:focus{
	color: #0091ac;
	outline:none;
	text-decoration: none;
}

.footer-area-bottom {
  background: rgba(52, 52, 60, 0.85);
}
.footer-area-bottom .container{
	padding: 15px 0;
	border-top:1px solid rgba(255, 255, 255, 0.40);
}
.footer-area-bottom p{
	font-size:12px;
	color: #fff;
}
.social-icon{
	font-size:12px;
	text-align:center;
}
.social-icon a{
	padding-left:5px;
}
.social-icon img{
	width:30px;
	height:auto;
}
.footer-area-bottom .terms{
	text-align:right;
	float:right;
}
.footer-area-bottom .devider{
	color: #fff;
	padding:0 5px;
}
/*End Footer*/

/* Home Page */
.section{
	padding:24px 0;
	border-bottom:1px solid rgba(52, 52, 60, 0.1);;
}
.section h2{
	text-align:center;
}
.section p.sub{
	font-size: 25px;
	color: rgba(52, 52, 60, 0.85);
	text-align:center;
}
.block-container{
	display:block;
	margin-top:60px;
}
.grid{
	border:1px solid rgba(52, 52, 60, 0.1);
	margin-bottom:30px;
	-webkit-box-shadow: 0px 0px 2px -2px rgba(68,68,68,1);
	-moz-box-shadow: 0px 0px 2px -2px rgba(68,68,68,1);
	box-shadow: 0px 0px 2px -2px rgba(68,68,68,1);
}
.grid .grid-img{
	width:100%;
	padding:2px;
	text-align:center;
}
.grid .grid-img img{
	max-width:170px;
}
.grid h5{
	text-align:center;
	color:#f48221;
	margin:15px 5px;
}
.grid p{
	padding:10px 15px;
	margin:0;
}
.grid-bottom{
	padding:0px 15px 15px 15px;
	text-align:right;
}
.grid-bottom a{
	text-align:right;
	color:#f48221;
}
.grid-bottom a:hover{
	color:#0091ac;
}
.product-img{
	padding-bottom:30px;
}
.view-all-products{
	margin-top:60px;
}
.orange-btn{
	background:#f48221;
	border:none;
	padding:10px 25px;
	border-radius:20px;
}
/* End Home Page */
/*About us Page*/
.banner{
	height:360px;
	display:block;
    background-image: url('../img/slider/about-us.jpeg');
    background-repeat: no-repeat;
    background-position: top; 
    background-size:cover;
    background-attachment: fixed;
}
.banner .container{
	padding:230px 0 0 0;
}
.what-we-do{
	list-style: none;
	text-decoration:none;
}
.what-we-do li{
	padding-bottom:10px;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
}
.what-we-do li::before {
  content: "\2022";
  color: #444444;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-size:20px;
}
.client-logo .grid{
	padding:2px;
}
.client-logo .grid img{
	width:100%;
	height:auto;
	display:block;
}

/*About us Page*/

/* Products and services */
.product-section{
	padding:0;
	border:none;
}
.banner-products {
	background-image: linear-gradient(rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.71)),url('../img/slider/products.jpeg');
}
.product-container .product-tabs-left{
	background:#0091ac;
	border-bottom:none;
}
.product-tabs-left li{
	
}
.product-tabs-left li a{
	color: #fff;
}
.product-tabs-left li.active>a,
.product-tabs-left li.active>a:focus,
.product-tabs-left li.active>a:hover{
	margin: 0;
    border-radius: 0;
	border-bottom-color:#ddd;
}
.product-tabs-left li a:focus,
.product-tabs-left li a:hover{
	margin: 0;
    border-radius: 0;
}
.product-tabs-left li.active:first-child>a{
	border-bottom-color:#ddd;
}
.tab-right{
	padding:30px 15px 60px;
}
.row-eq-height{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}
.side-nav{
	background:#0091ac;
	padding:0;
}
.product-description h2{
	text-align:left;
	padding-bottom:20px;
}
.product-description .content{
	border-bottom:1px solid rgba(52, 52, 60, 0.1);
	padding-bottom:30px;
	overflow:hidden;
}
.product-description .content.last{
	border:none;
	padding-bottom:0;
}
.product-description .content img {
	width:330px;
	margin-right: 10px;
}
.product-description .content .img-left {
    float: left;
    margin-right: 20px;
    width: 350px;
    height: auto;
    max-height: 200px;
}
.product-description .content .img-right {
    float: right;
    margin-left: 20px;
    width: 300px;
    height: 168.75px;
}
.product-description .content h3{
	color:#f48221;
	font-size:20px;
}
.productPage .slider-content h2{
  font-size: 40px;
}
.margin-top-40{
	margin-top:40px;
}
.productPage .grid:hover{
	box-shadow: 0px 0px 1px 1px rgba(244,130,33,0.7);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(244,130,33,0.7);
	transition: all 1s ease-out;
}
/* Products and services */
/*Careers*/
.banner-career{
  background-image: url('../img/slider/careers.jpeg');
  background-size:contain;
}
.banner-career .container{
	padding:170px 0 0 0;
}
.career .grid:hover{
	border-color:#f48221;
	cursor:pointer;
}
.each-job:hover{
	outline:none;
}
.each-job:focus{
	outline:none;
	text-decoration:none;
}
/*Careers*/
/*news Feed*/
.banner-newsfeed{
  background-image:linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)), url('../img/slider/neewsfeed.jpeg');
}
.banner-newsfeed .container{
	padding:230px 0 0 0;
}
.newsfeed .block{
	margin-top:40px;
	overflow:hidden;
}
.newsfeed .first{
	margin-top:0 !important;
}
/*news Feed*/
/*contact*/
.banner-contact{
  /*background-image: linear-gradient(rgba(0, 0, 0, -2.29),rgba(0, 0, 0, 0.71)),url(../img/slider/contact.jpeg);*/
  background-image: url(../img/slider/contact.jpeg);
width:100%;
background-attachment: fixed;
background-size: inherit;
}

.banner-contact .container{
  padding:170px 0 0 0;

}
.single-icon i {
    font-size: 24px;
    width: 50px;
    height: 50px;
    border: 1px solid #444;
    line-height: 46px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.single-icon p {
    font-size: 16px;
    line-height: 30px;
}
.map{
	margin-top:40px;
}
.map .grid{
	padding:2px;
}
.arrow{
    font-size: 15px;
  
}
div.client {
  float: right;
  width: 150;
  text-align: center;
  font-size: smaller;
  border: none;
min-width: 147px;;
  text-indent: 0;
min-height: 185px;
  margin: 0.5em;
  padding: 0.5em;
}

.col-centered
{
  float: none;
  margin: 0 auto;
}




.capbox {
	background-color: #f48221;


	display: inline-block;
	*display: inline; zoom: 1; /* FOR IE7-8 */
  padding: 8px 40px 8px 8px;
  margin-left:143px;
	}

.capbox-inner {
	font: bold 11px arial, sans-serif;
	color: #000000;
	background-color: #DBF3BA;
	margin: 5px auto 0px auto;
	padding: 3px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#CaptchaDiv {
	font: bold 17px verdana, arial, sans-serif;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }


#btnContactUs{
 width: 483px;
}
#invalidCaptcha{
	color:#f48221;
}

/*contact*/
/*----------------------------------------
 .End CSS
----------------------------------------*/
